# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
server/ff14_tools_api/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
server/ff14_tools_api/vendor/* linguist-vendored
